<div>
  <div class="col-md-9 mt-2">
    <div class="row">
      <form class="form-inline">
        <input type="text" class="col-3 form-control mr-3" placeholder="学生姓名">
        <input type="text" class="col-3 form-control mr-3" placeholder="学号">
        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i>查询</button>
      </form>
    </div>
  </div>
  <hr>
  <table class="table table-striped mt-3">
    <thead class="table-primary">
    <tr class="info">
      <th>序号</th>
      <th>key1</th>
      <th>key2</th>
      <th>key3</th>
      <th>key4</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemArr, index as i">
      <td>{{ i }}</td>
      <td>value{{ item }}</td>
      <td>value{{ item }}</td>
      <td>value{{ item }}</td>
      <td>value{{ item }}</td>
      <td>
        <a class="btn btn-sm btn-primary mr-2">操作1</a>
        <a class="btn btn-sm btn-danger">操作2</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
